.about {
    // height: 100vh;
    

    &__header {
        padding-top: 20px;
        padding-left: 25px;
    }

    &__board {
        position: relative;
        background-image: url("./img/about-bg-main.png");
        background-repeat: no-repeat;
    }

    &__img {
        position: relative;
        // background-image: url("./img/about-bg-main.png");
        background-image: url("./img/about-bg.png");
        background-size: cover;
        height: 220px;
    }

    &__title {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 1.33rem;
        margin-top: 0;
        width: 275px;
    }

    &__copy {
        color: #010101;
    }

}