.button {
    border: 3px solid $secondary;
    border-radius: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    cursor: pointer;
    
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
        visibility: hidden;

        &--centerX {
            position: absolute;
            right: 10px;
            bottom: -70px;
            // @include centerer;
        }


        &--inline {
            @include atDesktop {
                flex-direction: row;
            }
        }
    }
    &--online-record {
        padding: 10px 80px;
        @include centerer-x;
        bottom: 10px;
        z-index: 3;
        border-color: $secondary; 
        transition: 0.3s ease-in-out;

        @include atDesktop {
            position: static;
            transform: translate(0);
        }

        &:hover {
            background-color: #fff;
            color: #7c1651;
        }
    }

    &--franschize {
        display: none;
        margin-left: 45px;
        border-color: #85286d;
        border-width: 5px;
        padding: 7px 40px;
        color: #85286d !important;
        transition: 0.3s ease-in-out all;
        letter-spacing: 5px;

        @include atDesktop {
            display: block;
            padding: 7px 20px;
        }

        &:hover {
            background-color: #85286d;
            color: #fff !important;
        }
    }

&--pink {
        width: 240px;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 30px;
        font-family: $OpenSans;
        color: #3b0f22;
        font-weight: bold;
        background-color: $accent;
        border: none;
        box-shadow: 0px 20px 58px -11px rgba(0,0,0,0.8);
        
        @include atDesktop {
            margin-bottom: 0;
            // margin-right: 40px;
        }
    }

    &--ghost {
        width: 240px;
        padding: 10px 0;
        text-align: center;
        color: #3b0f22;
        font-weight: 600;
        background-color: rgba(#f4cfe4, 0.3);
        border-color: $accent;
    }

    &--card {
        transition: 0.3s ease-in-out all;
        margin-bottom: 30px;
        width: 140px;

        &:hover {
            background-color: #fff;
            color: #c8368d;
        }
    }

    &--offers {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #c8368d;
        font-size: 1rem;
        text-transform: none;
        border: none;
    }

    &--subscribe {
        border: 5px solid $accent;
        color: $accent;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
    }
}