.gallery {
    // box model
    padding-top: 30px;
    
    @include atTabletsPortrait {
        // positioning
        transform: translateY(-200px);
    }

    @include atDesktop {
        // positioning
        transform: translateY(-350px);
    }

    &__header {
        // box model
        padding-top: 100px;
        padding-left: 25px;

        background-size: cover;

        @include atTabletsPortrait {
            // box model
            padding-top: 180px;

            // visual
            background-image: url("./img/pattern.jpg");
            background-size: cover;
            background-position: 100% 30%;
            background-repeat: no-repeat;
            
        }

        @include atDesktop {
            // box model
            padding-top: 150px;
            padding-left: 115px;

            background-size: cover;
            background-image: url("./img/pattern_gallery.png");
            background-position: 0 0;

        }
    }

    &__title {
        // box model
        margin: 0;
        margin-bottom: 55px;

        // typography
        font-size: 1.5rem;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 0;

            // typograpphy
            font-size: 2.66rem;
            font-family: $mainFont;
            padding-bottom: 30px;
        }

        @include atDesktop {
            // box model
            font-size: 3rem;
            padding-bottom: 70px;
        }
    }

    &__subscribe {
        // visual
        background-image: url("./img/gallery_subscribe_bg.jpg");
        background-size: cover;

        // box model
        display: flex;
        padding-bottom: 0;
        padding: 60px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        // visual
        box-shadow: 0px 19px 35px -7px rgba(0,0,0,0.7);

        @include atTabletsPortrait {
            // box model
            display: none;
        }
    }

    &__slogan {
        // box model
        margin: 0;
        padding-bottom: 30px;

        // typography
        text-transform: uppercase;
        font-family: $OpenSans;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 100;
    }

    &__text {
        // typography
        color: $accent;
        font-family: $OpenSans;

        // box model
        margin: 0;
        padding-bottom: 70px;
    }

    &__gallery {
        // box model
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        // visual
        background-size: cover;
        background: linear-gradient(to right, #d15dac, #b7569e);

        @include atTabletsPortrait {
            // box model
            padding-bottom: 0;
        }
    
    }
    &__img {
        // box model
        width: 50%;
        max-height: 400px;

        @include atTabletsPortrait {
            // box model
            width: 33.33%;
        }

        &--subscribe {
            // box model
            display: none;

        @include atTabletsPortrait {
                // box model
                display: block;
            }
        }
        

        @include atDesktop {
            // box model
            width: 20%;
        }

        img {
            // box model
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}