.gallery {
    // box model
    padding-top: 30px;
    
    // @include atTabletsPortrait {
    //     // positioning
    //     transform: translateY(-200px);
    // }

    // @include atDesktop {
    //     // positioning
    //     transform: translateY(-350px);
    // }

    &__header {
        // box model
        padding: 55px 30px;

        // visual
        background-size: cover;

        @include atTabletsPortrait {
            // box model
            // padding-top: 180px;

            // visual
            // background-image: url("./img/pattern.jpg");
            // background-size: cover;
            // background-position: 100% 30%;
            // background-repeat: no-repeat;
        }

        @include atTabletsPortrait {
            // box model
            padding: 55px 50px;
        }

        // @include atDesktop {
        //     // box model
        //     padding-top: 150px;
        //     padding-left: 115px;

        //     background-size: cover;
        //     background-image: url("./img/pattern_gallery.png");
        //     background-position: 0 0;

        // }
    }

    &__suptitle {
        // box model
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        // typography
        color: $text;
        font-family: $textFont;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 30px;
        }
    }

    &__title {
        // box model
        margin: 0;

        // typography
        font-size: 1.4rem;
        font-weight: 900;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 30px;

            // typograpphy
            font-size: 2.66rem;
            font-family: $mainFont;
        }

        // @include atDesktop {
        //     // box model
        //     font-size: 3rem;
        //     padding-bottom: 70px;
        // }
    }

    &__subscribe {
        // box model
        display: flex;
        padding: 55px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        // visual
        background-color: $copyColor;
        
        @include atTabletsPortrait {
            // positioning
            position: absolute;
            left: 33.33%;

            // box model
            width: 33.33%;
            height: 29%;
            padding: 30px;
            
            // display: none;

            // visual
            background-image: url("./img/gallery_subscribe_bg.jpg");
            background-size: cover;
            // box-shadow: 0px 19px 35px -7px rgba($black,0.7);
        }
    }

    &__slogan {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        text-transform: uppercase;
        font-family: $textFont;
        color: $white;
        letter-spacing: 1px;
        font-weight: 100;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 15px;
        }
    }


    &__logo {
        // box model
        margin-bottom: 30px;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 15px;
        }
    }
    &__text {

        // box model
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        // typography
        color: $accent;
        font-family: $textFont;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 15px;

            // typography
            font-size: 0.875rem;
        }

    }

    &__gallery {

        // box model
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        // visual
        background-size: cover;
        background: linear-gradient(to right, #d15dac, #b7569e);

        // @include atTabletsPortrait {
        //     // box model
        //     padding-bottom: 0;
        // }
    
    }
    &__img {
        // box model
        width: 50%;
        max-height: 400px;

        @include atTabletsPortrait {
            // box model
            width: 33.33%;
        }

        &--subscribe {
            // box model
            display: none;
            
        @include atTabletsPortrait {
                // box model
                display: block;

                // visual
                // background-color: #000000;
                // background-image: url("./img/gallery_subscribe_bg.jpg");
                // background-position: -20px 0;
                // background-size: cover;
            }
        }
        

        // @include atDesktop {
        //     // box model
        //     width: 20%;
        // }
        }

        img {
            // box model
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
