.gallery {
    // box model
    padding-top: 30px;
    
    // @include atTabletsPortrait {
    //     // positioning
    //     transform: translateY(-200px);
    // }

    // @include atDesktop {
    //     // positioning
    //     transform: translateY(-350px);
    // }

    &__header {
        // box model
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 55px;

        // visual
        background-size: cover;

        // @include atTabletsPortrait {
        //     // box model
        //     padding-top: 180px;

        //     // visual
        //     background-image: url("./img/pattern.jpg");
        //     background-size: cover;
        //     background-position: 100% 30%;
        //     background-repeat: no-repeat;
        // }

        // @include atDesktop {
        //     // box model
        //     padding-top: 150px;
        //     padding-left: 115px;

        //     background-size: cover;
        //     background-image: url("./img/pattern_gallery.png");
        //     background-position: 0 0;

        // }
    }

    &__suptitle {
        // box model
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        // typography
        color: $text;
        font-family: $textFont;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
    }

    &__title {
        // box model
        margin: 0;

        // typography
        font-size: 1.4rem;
        font-weight: 900;

        // @include atTabletsPortrait {
        //     // box model
        //     margin-bottom: 0;

        //     // typograpphy
        //     font-size: 2.66rem;
        //     font-family: $mainFont;
        //     padding-bottom: 30px;
        // }

        // @include atDesktop {
        //     // box model
        //     font-size: 3rem;
        //     padding-bottom: 70px;
        // }
    }

    &__subscribe {
        // box model
        display: flex;
        padding: 55px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        // visual
        background-color: $copyColor;
        
        // @include atTabletsPortrait {
            // background-image: url("./img/gallery_subscribe_bg.jpg");
            // background-size: cover;
            // box-shadow: 0px 19px 35px -7px rgba($black,0.7);
        //     // box model
        //     display: none;
        // }
    }

    &__slogan {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        text-transform: uppercase;
        font-family: $textFont;
        color: $white;
        letter-spacing: 1px;
        font-weight: 100;
    }


    &__logo {
        // box model
        margin-bottom: 30px;
    }
    &__text {

        // box model
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        // typography
        color: $accent;
        font-family: $textFont;

    }

    &__gallery {

        // box model
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        // visual
        background-size: cover;
        background: linear-gradient(to right, #d15dac, #b7569e);

        // @include atTabletsPortrait {
        //     // box model
        //     padding-bottom: 0;
        // }
    
    }
    &__img {
        // box model
        width: 50%;
        max-height: 400px;

        // @include atTabletsPortrait {
        //     // box model
        //     width: 33.33%;
        // }

        &--subscribe {
            // box model
            display: none;

        // @include atTabletsPortrait {
        //         // box model
        //         display: block;
        //     }
        // }
        

        // @include atDesktop {
        //     // box model
        //     width: 20%;
        // }
        }

        img {
            // box model
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
}