.hero {
    // positioning
    position: relative;
    
    // box model
    // min-height: 100vh;
    padding: 35px 30px;
    padding-bottom: 0;
    
    // visual
    background-color: $accent;
    background: linear-gradient(to right, rgba(198, 22, 141, 0.85), rgba(219, 102, 154, 0.9));

    @include atTabletsPortrait {
        // box model
        padding: 45px 55px;

        // positioning
        z-index: 2;

        // box model

        // visual
        box-shadow: 0px 70px 30px -50px rgba(125,30,86,0.4);
    }
    
    // @include atDesktop {
    //     // box model
    //     height: 700px;
    //     width: 88%;
    //     margin-bottom: 200px;
    //     padding-left: 4.5%;

    //     // visual
    //     box-shadow: 0px 34px 39px -1px rgba(203,165,187,0.59);
    // }


    &::after {
        content: url("./img/hero_hr.png");
        // positioning
        position: absolute;
        bottom: -100px;
        z-index: 2;
        @include centerer-x;
    }
    //     @include atTabletsPortrait {
    //         // positioning
    //         bottom: -200px;
    //         left: 50%;
    //     }
        
    //     @include atTabletsLandscape {
    //         // positioning
    //         left: 60%;
    //     }

    //     @include atDesktop {
    //         content: url("./img/hero_hr-lg.png");
    //         // positioning
    //         right: -10%;
    //         left: 100%;
    //         bottom: -150px;
    //         z-index: -1;
    //         transform: translate(0);

    //         // box model
    //         display: none;
    //     }
    // }

    &__header {
        // @include atTabletsPortrait {
        //     // positioning
        //     z-index: 2;

        //     // box model
        //     padding-left: 55px;
        // }
        
        // @include atDesktop {
        //     // positioning
        //     position: relative;
        //     z-index: 1;
        
        //     // box model
        //     display: block;
        //     padding-top: 55px;
        //     padding-left: 0;
        // }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 1.75rem;
        text-transform: uppercase;

        // visual
        text-shadow: -6px 5px 0 $text;

        // typography
        color: $white;
        letter-spacing: 1px;
        font-family: $mainFont;
        font-weight: 700;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 60px;
            padding-left: 0;

            // typography
            font-size: 2.75rem;
        }

        @include atDesktop {
            // box model
            margin-bottom: 40px;
            padding-left: 0;

            // typography
            letter-spacing: 14px;
            font-size: 4rem;

            // visual
            text-shadow: 0 0, -12px 7px 0 $text;
        }
    }
    
    // &__content {
    //     // box model
    //     display: flex;
    //     flex-direction: column;
    //     padding-left: 25px;
    //     border: 1px solid red;
        
    //     @include atTabletsPortrait {
    //         // box model
    //         padding-left: 55px;
    //     }

    //     @include atDesktop {
    //         // positioning
    //         position: relative;

    //         // box model
    //         padding-left: 0;
    //     }
    // }

    &__copy {
        // box model
        display: inline-block;
        width: 300px;

        // typography
        color: $copyColor;
        font-family: $textFont;
        font-weight: 700;
        font-size: 1rem;
        line-height: 2;

        @include atTabletsPortrait {
            // box model
            margin-top: 0;
            margin-bottom: 60px;
            padding: 0;
        }

        // @include atDesktop {
        //     // box model
        //     margin-bottom: 70px;
        //     padding-left: 0;
        //     width: 425px;

        //     // typography
        //     font-size: 1rem;
        // }
    }

    &__img {
        // positioning
        position: relative;
        z-index: 3;
        
        // position: absolute;
        // bottom: -65px;
        // z-index: 1;

        // box model
        margin: 0;
        padding: 0;
        width: 305px;
        margin-left: -41px;

        // typography
        font-size: 0;

        @include atTabletsPortrait {
            // positioning
            position: absolute;
            top: 0;
            right: 18px;
            z-index: -1;

            // box model
            // width: 685px;
            margin-top: -30px;
        }

        // @include atTabletsLandscape {
        //     // positioning
        //     left: 25%;

        //     // box model
        //     min-width: 700px; 
        // }

        // @include atDesktop {
        //     // positioning
        //     z-index: 0;

        //     // box model
        //     width: auto;
        //     bottom: -19px;
        //     left: 20%;
        // }

        // @include atDesktopLarge {
        //     // positioning
        //     left: 30%;
        // }

        img {
            // box model
            width: 100%;
            // height: 100%;
            // object-fit: contain;
            
            // @include atDesktop {
            //     // box model
            //     width: auto;
            //     height: auto;
            // }
        }
    }

    &__button {
        // positioning
        position: absolute;
        bottom: 25px;
        left: 0;
        z-index: 4;

        // typography
        text-align: center;

        // box model
        width: 100%;

        @include atTabletsPortrait {
            // positioning
            position: static;
            
            // typography
            text-align: left;
        }
    }
}