.hero {
    // positioning
    position: relative;

    // box model
    min-height: 100vh;

    @include atSmall {
        height: 120vh;
    }

    @include atTabletsPortrait {
        min-height: 640px;
        box-shadow: 0px 70px 30px -50px rgba(125,30,86,0.4);
        z-index: 2;
    }
    
    @include atDesktop {
        width: 88%;
        height: 700px;
        padding-left: 4.5%;
        margin-bottom: 200px;
        box-shadow: 0px 34px 39px -1px rgba(203,165,187,0.59);
    }

    // visual
    background: linear-gradient(to right, rgba(198, 22, 141, 0.85), rgba(219, 102, 154, 0.9));

    &::after {
        content: url("./img/hero_hr.png");
        position: absolute;
        bottom: -75px;
        @include centerer-x;
        z-index: 0;

        @include atTabletsPortrait {
            // content: url("./img/hr_md.png");
            // width: 0px;
            bottom: -200px;
            left: 50%;
        }
        
        @include atTabletsLandscape {
            left: 60%;
        }

        @include atDesktop {
            content: url("./img/hero_hr-lg.png");
            right: -10%;
            z-index: -1;
            bottom: -150px;
            left: 100%;
            transform: translate(0);
            display: none;
        }
    }

    &__header {
        position: relative;
        padding-top: 36px;
        padding-left: 25px;

        @include atTabletsPortrait {
            z-index: 2;
            padding-left: 55px;
        }
        
        @include atDesktop {
            padding-left: 0;
            display: block;
            position: relative;
            z-index: 1;
            padding-top: 55px;
        }
    }

    &__content {
        // box model
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        
        @include atTabletsPortrait {
            padding-left: 55px;
        }

        @include atDesktop {
            padding-left: 0;
            position: relative;
        }
    }

    &__title {
        // box model
        display: inline-block;
        margin-top: 0;
        padding-left: 20px;
        text-transform: uppercase;
        font-size: 1.75rem;
        // text-shadow: 1px 1px #6a1444, 1px -1px #6a1444, -1px 1px #6a1444, -1px -1px #6a1444, 3px 3px 6px rgba(0,0,0,.5);
        text-shadow: 0 0,
        -8.1px 5px 0 #6a1444;
        width: 200px;
        // typography
        color: $white;
        font-family: $mainFont;

        @include atTabletsPortrait {
            font-size: 2.75rem;
            margin-bottom: 60px;
            padding-left: 0;
        }

        @include atDesktop {
            padding-left: 0;
            font-size: 4rem;
            letter-spacing: 14px;
            margin-bottom: 40px;
        }
    }

    &__copy {
        position: relative;
        color: #000;
        font-family: $OpenSans;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 30px;
        padding-left: 20px;
        margin-bottom: 0;
        width: 300px;
        margin-top: 0;
        margin-bottom: 20px;

        @include atTabletsPortrait {
            margin-top: 0;
            margin-bottom: 60px;
            z-index: 2;
            padding-left: 0;
        }

        @include atDesktop {
            padding-left: 0;
            font-size: 1rem;
            width: 425px;
            margin-bottom: 70px;
        }
    }

    &__img {
        position: absolute;
        bottom: -65px;
        z-index: 1;
        margin-left: -25px;
        width: 325px;

        @include atTabletsPortrait {
            bottom: -5px;
            z-index: 1;
            min-width: 675px;
            left: 11%;
        }

        @include atTabletsLandscape {
            min-width: 700px; 
            left: 25%;
        }

        @include atDesktop {
            width: auto;
            bottom: -19px;
            left: 20%;
            z-index: 0;
        }

        @include atDesktopLarge {
            left: 30%;
        }

        source {
            width: 100%;
            height: 100%;

            @include atDesktop {
                width: auto;
                height: auto;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
            @include atDesktop {
                width: auto;
                height: auto;
            }
        }
    }
}