.info {
    // box model
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
    // border: 1px solid red;

    // typography
    text-align: center;

    @include atTabletsPortrait {
        // box model
        padding-top: 25px;
        padding-left: 40px;
    }

    &__address {
        // box model
        margin: 0;

        // typography
        font-family: $textFont;
        font-size: 0.7rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        @include atTabletsPortrait {
            // typography
            font-size: 1.1rem;
        }

        // @include atDesktop {
        //     // typography
        //     font-size: 1.75rem;
        //     font-weight: 500;
        // }
    }

    &__phone {
        // typography
        color: $copyColor;
        font-size: 1.55rem;
        font-weight: 700;
        text-decoration: none;
        
        @include atTabletsPortrait {
            // typography
            font-size: 2.5rem;
        }

        @include atDesktop {
            // typography
            font-size: 2.75rem;
        }
        
        @include atDesktopLarge {
            // typography
            font-size: 3.75rem;
        }

        span {
            // positioning
            transform: translateY(-0.5rem);

            // box model
            display: inline-block;
            vertical-align: middle;

            //typography
            color: $accent;
            margin: 0 2px;

            @include atTabletsPortrait {
                // box model
                vertical-align: top;
            }

            // @include atDesktopLarge {
            //     // box model
            //     margin-bottom: 25px;
            // }
        }
    }
}