.info {
    
    &__list {
        // box model
        padding-top: 20px;
        padding-left: 20px;
        margin: 0;
        list-style: none;

        li {
            // typography
            color: $copy;
        }
    
        p {
            // box model
            margin: 0;
    
            // typography
            font-weight: 600;
            font-size: 0.7rem;
            text-align: center;
            text-transform: uppercase;
            
            @include atTabletsPortrait {
                font-size: 1.5rem;
            }

            @include atDesktop {
                font-size: 1.75rem;
                font-weight: 500;
            }

            @include atDesktopLarge {
                font-size: 2rem;
            }
        }
        a {
            // typography
            color: $copy;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            
            @include atTabletsPortrait {
                font-size: 3rem;
            }

            @include atDesktop {
                font-size: 2.75rem;
            }
            
            @include atDesktopLarge {
                font-size: 3.5rem;
            }
            span {
                //typography
                color: $accent;
                margin: 0 2px;
                margin-bottom: 12px;
            }
        }
    }
}