.info {
    
    &__list {
        // box model
        padding-top: 15px;
        padding-left: 15px;
        margin: 0;
        list-style: none;
        li {
            // typography
            color: $copy;
        }
    
        p {
            // box model
            margin: 0;
    
            // typography
            font-weight: 600;
            font-size: 1.125rem;
        }
        a {
            // typography
            color: $copy;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            span {
                //typography
                color: $accent;
                margin-bottom: 10px;
            }
        }
    }
}