.location {
    position: relative;

    @include atTabletsPortrait {
        background-image: url("./img/pattern.jpg");

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom,rgba(177, 135, 177, 0.26), rgba(239, 206, 228, 0.9));
        }
    }

    @include atDesktop {
        background-image: url("./img/pattern-lg.jpg");
        background-size: contain;
        height: 60vh;
    }

    &__map {
        height: 100vh;

        @include atTabletsPortrait {
            width: 95%;
            transform: translateY(-200px);
        }

        @include atDesktop {
            height: 80vh;
            transform: translateY(-350px);
        }
    }
}