.main-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    left: -100%;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: 0.3s ease-out all;
    

    &--shown {
        left: 0;
        visibility: visible;
     
    }

    &__list {
        // box model
        padding: 0;
    }

    li {
        // box model
        padding-bottom: 30px;

        // visual
        list-style: none;
    }

    a {
        // typography
        color: #fff;
        text-decoration: none;
    }
}