.main-nav {
    // box model
    display: flex;
    padding-bottom: 40px;
    padding-left: 25px;

    // @include atTabletsPortrait {
    //     // box model
    //     padding-left: 55px;
    // }

    // @include atDesktop {
    //     // box model
    //     align-items: center;
    //     justify-content: space-between;
    //     padding-left: 4.5%;
    //     max-width: 88%;
    // }
}