.map-label {
    // positioning
    position: absolute;
    z-index: 1;
    top: 25px;
    @include centerer-x;

    // box model
    display: block;
    width: 90%;
    padding: 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 25px 0px 21px -11px rgba(53,7,34,0.74);
    background-image: url("./img/place.png");
    border-radius: 10px;

    @include atTabletsPortrait {
        // box model
        width: 55%;
    }

    @include atDesktop {
        // positioning
        top: 0;

        // box model
        width: 20%;
        left: 25%;
    }

    &__logo {
        // box model
        width: 86px;
        height: 86px;

        img {
            // box model
            width: 100%;
            height: 100%;
        }
    }

    &__info-title {
        // typography
        color: #fff;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__info-text {
        // typography
        color: #fff;
        font-size: 1.25rem;

        sub {
            // typography
            color: #c3c3c3;
            font-size: 0.75rem;
        }
    }

    &__infowindow {
        // box model
        display: flex;
        padding: 10px 20px;
    }

    &__infowindow-content {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
    }

    &__infowindow-title {
        // box model
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        
        // typography
        font-size: 0.875rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #64080f;

    }

    &__infowindow-description {
        // box model
        margin: 0;
        margin-bottom: 5px;
        text-align: center;

        // typography
        font-family: $textFont;
        color: #414042;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;

        
    }
    &__infowindow-address {
        // box model
        margin: 0;
        
        // typography
        font-family: $textFont;
        color: #414042;
        font-weight: bold;
        font-size: 0.9em;
    }


}
.gm-style-iw + div {
    // box model
    display: none;
}