.menu-icon {
    // positioning
    position: fixed;
    right: 20px;
    top: 18px;
    z-index: 6;

    // box model
    width: 50px;
    height: 50px;
    border: 2px solid $accent;

    // visual
    background-color: $accent;
    box-shadow: 0px 10px 24px 0 rgba($black, 0.125);
    border-radius: 50%;

    // @include atTabletsPortrait {
    //     // positioning
    //     right: 50px;
    // }

    // @include atDesktop {
    //     // box model
    //     display: none;
    // }

    &::before {
        content: '';

        // positioning
        position: absolute;
        left: 10px;
        top: 30px;
        transform-origin: 0% 50%;

        //box model
        display: block;
        height: 4px;
        width: 25px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }

    &__middle {
        // positioning
        position: absolute;
        left: 10px;
        top: 21px;

        // box model
        display: block;
        height: 4px;
        width: 25px;

        // visual
        background-color: $white;
        transform: all 0.3s ease-out;
    }

    &::after {
        content: '';

        // positioning
        position: absolute;
        left: 10px;
        top: 12px;

        transform-origin: 0 50%;

        // box model
        display: block;
        height: 4px;
        width: 25px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }

    &--close-x {
        // box model
        border: 2px solid $white;

        // visual
        box-shadow: none;

        &::before {
            // positioning
            left: 14px;
            top: 30px;
            transform: rotate(-45deg);

            // visual
            background-color: $white;
        }
        .menu-icon__middle {
            // visual
            opacity: 0;
        }

        &::after {
            // positioning
            left: 14px;
            top: 13px;
            transform: rotate(45deg);

            // visual
            background-color: $white;
        }
    }
}