.price {
    // box model
    margin-bottom: -30px;
    padding-left: 25px;

    // visual
    background: linear-gradient(to bottom, #e2d8e9, #cc6ab0 20%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    @include atTabletsPortrait {
        // visual
        background: none;
    }
    

    @include atTabletsPortrait {
        // positioning
        position: relative;
        z-index: 1;
        transform: translateY(-150px);

        // box model
        padding-left: 55px;

        &::before {
            content: url("./img/hero_hr_gallery.png");

            // positioning
            position: absolute;
            bottom: -240px;
            left: -100px;
            z-index: 3;
        }
    }

    @include atDesktop {
        // positioning
        transform: translateY(-250px);

        // box model
        margin-left: 246px;

        // visual
        background: none;
        background-repeat: no-repeat;
    }

    &__board {
        // visual
        background-color: #d8a8df;
        
        @include atTabletsPortrait {
            // visual
            background-image: url("./img/price_bg-lg.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 5px;
            box-shadow: -14px 0px 20px -5px rgba(0,0,0,0.3);
        }
    }

    &__header {
        // box model
        padding-top: 40px;
        padding-left: 20px;
    }

    &__content {
        // box model
        padding: 0 25px;
        padding-bottom: 80px;

        @include atDesktop {
            /// box model
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__group {

        @include atTabletsPortrait {
            // box model
            width: 33.3%;
        }

        &--big {
            @include atDesktop {
                // box model
                width: 66.6%;
            }
        }
    }

    &-inner__column {
        
        &--right {
            // box model
            width: auto !important;
        }

        &--pd {
            @include atDesktop {
                // box model
                padding-left: 120px;
            }
        }

        @include atTabletsPortrait {
            // box model
            width: 300px;
            display: inline-block;
        }

        @include atDesktop {
            // box model
            width: 40%;
        }
    }

    &__conteiner {
        
        @include atTabletsPortrait {
            // box mdoel
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__group-title {
        // box model
        margin-top: 0;

        // typography
        color: white;
        font-size: 1.33rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__table {
        // box model
        width: 100%;
        margin-bottom: 30px;
        padding-right: 15px;
    }

    &__column-description {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        color: #000;
        font-family: $OpenSans;
        line-height: 24px;
        text-align: left;
        font-weight: 500;
    }

    &__caption {
        // box model
        margin: 0;
        margin-bottom: 20px;

        // typography
        line-height: 24px;
        color: #8a185a;
        text-align: left;
        text-transform: uppercase;
    }

    td {
        // typography
        text-transform: uppercase;
        font-family: $OpenSans;
        line-height: 30px;
        font-size: 0.875rem;
        color: #000;

        span {
            // typography
            font-size: 0.75rem;
            color: #000000;
        }
    }

    tr {
        // box model
        margin-bottom: 15px;
    }
}