.price {
    padding-left: 25px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #b170a8;
    margin-bottom: -30px;
    // background-image: url("./img/price_bg.jpg");

    @include atTabletsPortrait {
        transform: translateY(-150px);
        margin-left: 55px;
    }
    
    @include atDesktop {
        margin-left: 246px;
        background-color: none;
        transform: translateY(-250px);
        box-shadow: -43px 53px 63px -44px rgba(0,0,0,0.72);
        // background-image: url("./img/price_bg.jpg");
        background-repeat: no-repeat;
    }

    &__header {
        padding-top: 40px;
        padding-left: 20px;
        background-color: #d8a8df;
    }

    &__content {
        padding: 0 25px;
        padding-bottom: 80px;
        background-color: #d8a8df;

        @include atDesktop {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__group {
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        
        @include atTabletsPortrait {
            width: 33.3%;

        }
        &--big {
            @include atDesktop {
                width: 66.6%;
            }
        }
    }

    &-inner__column {
        
        &--right {
            width: auto !important;
        }

        &--pd {
            @include atDesktop {
                padding-left: 120px;
            }
        }

        @include atTabletsPortrait {
            width: 300px;
            display: inline-block;
        }

        @include atDesktop {
            width: 40%;
        }
    }

    &__conteiner {
        
        @include atTabletsPortrait {
            display: flex;
            flex-wrap: wrap;

        }
    }

    &__group-title {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0;
    }

    &__table {
        width: 100%;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    &__column-description {
        color: #000;
        font-family: $OpenSans;
        line-height: 24px;
        text-align: left;
        margin: 0;
        margin-bottom: 30px;
        font-weight: 500;
    }

    &__caption {
        margin: 0;
        margin-bottom: 30px;
        line-height: 24px;
        color: #8a185a;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $OpenSans;
    }

    td {
        text-transform: uppercase;
        font-size: 0.875rem;
        color: #000;
        padding: 5px 0;

        span {
            font-size: 0.75rem;
            color: #000000;
        }
    }

    tr {
        margin-bottom: 15px;
    }
}