.services {
    padding-left: 25px;
    background-color: #e0c1de;

    // &__card {
        // }
        
        &__card {
            width: 300px;
            height: 400px;
            margin-bottom: 30px;
            border-radius: 5px;
            background-image: url("./img/card1.png");
            background-position: 35% 0;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // align-items: flex-end;
            &-content {

            }
    }
}