.services {
    position: relative;
    padding-left: 25px;
    padding-bottom: 100px;
    background: linear-gradient(25deg, #e3d6e5 70%, #e4d4dc);
    background-size: cover;
    
    @include atTabletsPortrait {
        padding-bottom: 250px;
        padding-left: 55px;

    }

    @include atDesktop {
        background: linear-gradient(20deg,rgba(221, 129, 192, 1), rgba(211, 195, 221, 0.8)) 90%;
        padding-left: 115px;
        padding-bottom: 400px;
        box-shadow: 0px 48px 116px -29px rgba(125,30,86,0.77);
    }

    &::before {
        content: url("./img/hero_hr.png");
        position: absolute;
        bottom: -7px;
        right: 25px;
        z-index: 0;
    }

    &__wrapper {
        position: relative !important;
        width: 100%;
        height: 450px;
        border-radius: 5px;

        &:hover .services__card-img::after {
            transition: 0.3s ease-in-out all;
            opacity: 0.7;
           
        }

        &:hover .services__card-content {
            display: block;
        }

        &:hover {
            transition: 0.3s ease-in-out all;
            box-shadow: -39px 44px 0px -21px rgba(152,67,128,0.56);
            
            @include atDesktop {
                transform: translate(30px);
                transform: scale(1.1);
            }
        }
    }


    &__cards {
        position: relative;
        // z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;

        @include atTabletsPortrait {
            flex-wrap: nowrap;
        }

        @include atDesktop {
            overflow: hidden;
            flex-wrap: wrap;
        }

        &::before {
            content: url("./img/pattern-lg-cards.png");
            display: none;

            @include atTabletsPortrait {
                display: block;
                background-repeat: no-repeat;
                position: absolute;
                margin-top: 110px;
                margin-left: 14%;
                // z-index: -2;
            }

            @include atDesktop {
                content: url("./img/pattern-lg-cards.png");
                margin-top: 150px;
            }
        }

        &::after {
            @include atDesktop {
                content: url("./img/hr_cards-lg.png");
                position: absolute;
                bottom: -100px;
                z-index: -1;
            }
        }
    }

        &__card {
            transition: 0.3s ease-in-out;
            margin-right: 25px;
            
            @include atTabletsPortrait {
            }

            @include atDesktop {
                margin-bottom: 30px;
            }

            &-description {
                text-align: right;
                color: #720a47;
                text-transform: uppercase;
                width: 155px;
                font-family: $OpenSansRegular;
                position: absolute;
                top: 195px;
                right: 30px;
                font-size: 0.875rem;
                line-height: 20px;
        }

            &-title {
                color: #8a185a;
                text-transform: uppercase;
                padding-left: 15px;
                letter-spacing: 1px;
                margin: 30px 0;
                margin-top: 0;
                font-family: $OpenSansBold;
            }
            
        &-img {
                position: relative;
                width: 300px;
                height: 450px;
                display: inline-block;
                // background-image: url("./img/hair_bg.png");
                background-size: cover;
                box-shadow: 0px 23px 51px -9px rgba(165,68,122,0.96);
                border-radius: 5px;
                z-index: 0;

                @include atDesktop {
                    width: 325px;
                }
                

                &--bg2 {
                    background-image: url("./img/card1.png");
                    background-position: 40% 0;
                    background-repeat: no-repeat;
                }

                &--bg3 {
                    background-image: url("./img/hair_bg2.png");
                }

                &--bg4 {
                    background-image: url("./img/hair_bg3.png");
                    background-position: 0 20%;
                }

                &--bg5 {
                    background-image: url("./img/hair_bg4.png");
                    background-position: 0 20%;                    
                }
                
                &::after {
                    background: linear-gradient(180deg, #c6168d, #db669a);
                    opacity: 0;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    border-radius: 5px;
                }
                img {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }


            &-content {
                height: 100%;
                width: 100%;
                display: none;
                transition: 0.3s ease-in-out;
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;


                &--centerY {
                    position: relative;
                }
            }
    }
}