.shares {
    position: relative;
    // padding-left: 25px;
    // margin-top: 40px;
    background: linear-gradient(to right, #d16bb3, #8f6aa5);
    
    @include atTabletsPortrait {
        background: none;
        display: none;
    }

    @include atDesktop {
        background-color: #fff;
        transform: translateY(-450px)
    }
    
    &__content {
        transform: translateY(36px);

        @include atTabletsPortrait {
            transform: none;
            display: flex;
            position: absolute;
            right: 30px;
            top: 100%;
        }

        @include atDesktop {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__offers {
        margin: 0;
        color: #981864;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $OpenSans;
        font-size: 0.75rem;
        letter-spacing: 4px;

        &--white {
            color: white;
        }
    }

    &__header {
        padding-left: 25px;
    }

    &__text {
        color: #1c1e23;
        font-family: $mainFontBlack;
        font-weight: bold;
        text-align: left;
        width: 135px;
        margin-bottom: 30px;

        &--white {
            color: white;
        }
    }

    &__card {
        width: 328px;
        height: 206px;
        background-color: #fff;
        padding-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        

        @include atDesktop {
            width: 350px;
            height: 250px;
        }

        &--offers {
            background-image: url("./img/offers.jpg");
            background-size: cover;
            background-color: #fff;
            margin-right: 50px;
        }
        
        &--loyality {
            background-image: url("./img/loyality.jpg");
            background-size: cover;
            background-color: #54adc3;
            margin-right: 50px;
            
        }
    }
}