.shares {
    // positioning
    position: relative;
    z-index: 1;

    // visual
    background: linear-gradient(to right, #d16bb3, #8f6aa5);
    
    // @include atTabletsPortrait {
    //     // visual
    //     background: none;
    // }
    @include atTabletsLandscape {
        // box model
        padding-left: 50px;
        background: none;
    }

    // @include atDesktop {
    //     // positioning
    //     transform: translateY(-300px);

    //     // visual
    //     background-color: $white;
    // }
    
    &__content {
        // // positioning
        transform: translateY(30px);

        @include atTabletsPortrait {
            // positioning
            transform: translateY(30px);
        }

        @include atTabletsLandscape {
            // positionin
            // box model
            transform: none;
            padding-left: 25px;
        }

        // @include atDesktop {
        //     // positioning
        //     position: absolute;
        //     top: 0;
        
        
        //     // box model
        //     display: flex;
        // }
    }

    &__card {
        // positioning
        position: relative;
        
        // box model
        margin-right: 30px;
        margin-bottom: 30px;

        // visual
        background-color: $white;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &::last-child {
            margin-right: 0;
        }
        @include atTabletsPortrait {
            // box model
            width: 375px;
        }
        
        @include atTabletsLandscape {
            // box model
            margin-top: 0;
            min-width: 375px;
            display: inline-block;
        }

        // @include atDesktop {
        //     // box model
        //     width: 350px;
        //     height: 250px;
        // }

        &--offers {
            // visual
            background-image: url("./img/offers.jpg");
            background-size: cover;
            background-color: $white;
        }
        
        &--loyality {
            // box model
            margin-right: 0;

            // visual
            background-image: url("./img/loyality.jpg");
            background-size: cover;
            background-color: $sectionColor;

        }
    }

    &__offers {
        // box model
        margin: 0;
        margin-bottom: 30px;
        
        // typography
        color: $text;
        text-transform: uppercase;
        font-family: $textFont;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 4px;

        &--white {
            // typography
            color: white;
        }
    }

    &__header {
        // box model
        padding: 30px;
    }

    &__text {
        // box model
        width: 150px;
        margin: 0;
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: top;

        // typography
        color: #1c1e23;
        text-align: left;
        font-family: $mainFont;
        font-weight: 900;
        line-height: 1.25;

        &--white {
            // typography
            color: $white;
        }
    }

    &__button {
        // // positioning
        // position: absolute;
        // bottom: 5px;
    }
}