.site-header {

    @include atTabletsPortrait {
        background-image: url("./img/pattern.jpg");
    }

    @include atDesktop {
        background-image: url("./img/pattern-lg.jpg");
        position: relative;
    }
}