.socials {
    // box model
    display: none;
    padding: 0;
    border-top: 2px solid #6c1a3e;
    
    // visual
    list-style: none;
    
    @include atTabletsPortrait {
        // box model
        display: block;
        position: absolute;
        padding-right: 40px;
        padding-top: 20px;
        right: 0;
        bottom: 65px;
        z-index: 1;
    }

    @include atDesktop {
        display: block;
        position: absolute;
        bottom: 40px;
        right: 0;
        padding: 20px;
        padding-right: 2.5%;
        padding-left: 80px;
    }

    li {
        padding-bottom: 5px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out all;
        &:hover {
            color: #6c1a3e;
        }
    }
}
