.socials {

    &__list {
        // box model
        display: none;
        list-style: none;
        padding: 0;
        border: 2px solid #6c1a3e;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
        @include atTabletsPortrait {
            display: block;
            position: absolute;
            padding-right: 40px;
            padding-top: 20px;
            right: 0;
            bottom: 65px;
            z-index: 1;
        }

        @include atDesktop {
            display: block;
            position: absolute;
            bottom: 40px;
            right: 0;
            padding: 20px;
            padding-right: 2.5%;
            padding-left: 80px;
        }
        li {
            padding-bottom: 5px;
        }
    
        a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s ease-in-out all;
            font-family: $OpenSansBold;
            &:hover {
                color: #6c1a3e;
            }
        }
    }
}