.tabs {
    padding-left: 25px;

    @include atTabletsPortrait {
        padding-left: 0;
    }

    @include atDesktop {
        padding-left: 0;
    }
    
    &__list {
        list-style: none;
        padding-left: 0;
        display: flex;
    }

    &__item {
        padding-right: 20px;

        @include atTabletsPortrait {
            padding-right: 55px;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        font-size: 1.125rem;
        font-family: $OpenSans;
        text-transform: uppercase;
        color: #898989;
        line-height: 15px;
        letter-spacing: 3px;
        font-weight: 300;
        transition: 0.3s ease-in-out;
        display: inherit;


        @include atTabletsPortrait {
            letter-spacing: 7px;
        }
        
        &:hover {
            color: #d74299;
        }
    }

    &__content {
        padding-bottom: 45px;
        display: none;

        @include atDesktop {
            width: 460px;
        }
    }

    &__current {
        display: inherit;

        a {
            position: relative;
            color: #d74299;

            &::before {
                // positioning
                position: absolute;
                height: 2px;
                bottom: -17px;
                left: 0;
    
                // box model
                content: '';
                width: 100%;
    
                // visual
                visibility: hidden;
                background-color: $accent;
                transform: scaleX(0);
                transition: 0.3s ease-in-out all 0s;
            }
    
            &:hover,&:active {
                // typography
                color: $accent;
    
                &::before {
                    // visual
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}