.tabs {
    // @include atTabletsPortrait {
    //     padding-left: 0;
    // }

    // @include atDesktop {
    //     padding-left: 0;
    // }
    
    &__list {
        // positioning
        position: relative;

        // box model
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        margin-left: -10px;
        
        // visual
        list-style: none;

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: 10px;

            // box model
            height: 1px;
            width: 150%;

            // visual
            background-color: rgba(#999999, 0.25);
        }
    }

    &__item {
        // @include atTabletsPortrait {
        //     // box model
        //     padding-right: 55px;
        // }
    }

    &__link {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 10px;

        // typography
        color: #999999;
        font-size: 1rem;
        font-family: $textFont;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        transition: 0.3s ease-in-out;


        @include atTabletsPortrait {
            letter-spacing: 7px;
        }
        
        &:hover {
            color: #d74299;
        }
    }

    &__content {
        padding-bottom: 45px;
        display: none;

        @include atDesktop {
            width: 460px;
        }
    }

    &__current {
        display: inherit;

        a {
            position: relative;
            color: #d74299;

            &::before {
                // positioning
                position: absolute;
                height: 2px;
                bottom: -17px;
                left: 0;
    
                // box model
                content: '';
                width: 100%;
    
                // visual
                visibility: hidden;
                background-color: $accent;
                transform: scaleX(0);
                transition: 0.3s ease-in-out all 0s;
            }
    
            &:hover,&:active {
                // typography
                color: $accent;
    
                &::before {
                    // visual
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}