.title {

    &__sup {
        color: #8a185a;
        font-family: $OpenSans;
        margin-top: 0;
        margin-bottom: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 30px;

        @include atTabletsPortrait {
            font-family: $OpenSansBold;
            font-weight: normal;
            letter-spacing: 5px;
        }

        &--mrtop {
            padding-top: 100px;
            margin: 0;
            color: #dc6fb0;

            @include atTabletsPortrait {
                padding-top: 25px;
            }
            
            @include atDesktop {
                padding-top: 0;
            }
        }

        &--white {
            // padding-top: 40px;
        }
    }

    &__description {
        display: none;

        @include atDesktop {
            display: block;
        }
        
        &--left {
            position: absolute;
            left: -50px;
            top: 100px;
            display: inline-block;
            margin: 0;
            transform: rotate(-90deg);
            color: #fff;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            // visibility: hidden !important;
        }
        &--right {
            display: none;
            position: absolute;
            right: -120px;
            top: 100px;
            transform: rotate(-90deg);
            font-size: 1.33rem;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2px;
            z-index: 2;
            font-family: $OpenSansBold;

            @include atTabletsPortrait {
                top: 150px;
                display: inline-block;
            }

            @include atDesktop {
                font-size: 1.875rem;
                font-family: $OpenSans;
                top: -180px;
                right: -155px;
            }

        }

        &--map {
            font-size: 0.875rem;
            top: 120px;
            right: -75px;
        }
    }

    &__section {
        color: $section;
        text-transform: uppercase;
        font-size: 3.33rem;
        margin: 0;
        padding-bottom: 30px;
        font-weight: bold;

    }
}