// Colors
$accent: #ee7aad;
$secondary: #7c1651;
$section: #48a6be;
$white: #ffffff;
$text: #8a185a;
$copyColor: #222222;
$titleColor: #d74299;


// Fonts
$mainFont: "Montserrat", sans-serif;
$mainFontRegular: "Monserrat Regular", sans-serif;
$mainFontBlack: "Monserrat Black",sans-serif;
$mainFontLight: "Monserrat Light", sans-serif;
$mainFontExtarBlack: "Monserrat ExtraBlack",sans-serif;
$mainFontExtraBold: "Monserrat ExtraBold",sans-serif;
$textFont: "Open Sans", sans-serif;
$textFontBold: "Open Sans SemiBold", sans-serif;
$textFontExtraBold: "Open Sans ExtraBold", sans-serif;