// Colors
$accent: #ee7aad;
$secondary: #7c1651;
$section: #48a6be;
$white: #ffffff;
$text: #8a185a;
$copy: #2e2d2c;
$title: #d74299;


// Fonts
$mainFont: "Montserrat", sans-serif;
$OpenSans: "Open Sans", sans-serif;