// Colors
$accent: #ee7aad;
$secondaryColor: #7c1651;
$sectionColor: #48a6be;
$white: #ffffff;
$text: #8a185a;
$copyColor: #222222;
$titleColor: #d74299;
$black: #000000;
$notationColor: #999999;


// Fonts
$mainFont: "Montserrat", sans-serif;
$textFont: "Open Sans", sans-serif;