<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800, 900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600, 800" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
        title HairRoom
    body
        header.site-header
            nav.main-nav
                .logo
                    .logo__img: img(src="./img/hr_logo_white.svg" alt="HairRoom Logo")
                ul.info__list
                    li: p Калининград<br>Иванникова,&nbsp;12
                    li: a(href="tel: 523766") 52<span>.</span>37<span>.</span>76
                
                .menu-icon: .menu-icon__middle

                nav.main-menu
                    ul.main-menu__list
                        li: a(href="#about") Салон
                        li: a(href="#services") Услуги
                        li: a(href="#price") Прайс
                        li: a(href="#gallery") Галлерея
                        li: a(href="#contacts") Контакты
                    a.button.button--franschize(href="#franshize") Франшиза

                .main-nav__slogan: a.main-nav__link(href="http://instagram.com") Давайте дружить<br><span>instagram</span>

            section.hero
                header.hero__header
                    h1.hero__title Ваш идеальный салон красоты

                .hero__content
                    p.hero__copy Быть свободной значит быть разной, меняте свой стиль под любое настроение. Не важно, что вас ждет сегодня: серьезное событие или романтический вечер - будьте неотразимы!
                    .hero__img: img(src="./img/women-lg.png" alt="Hair Room девушка")
                    a.button.button--online-record(href="#") online&nbsp;запись
                    //- picture.hero__img
                    //-     source(srcset="./img/women.png, ./img/women-hero.png" media="(min-width: 700px)")
                    //-     img(src="./img/women.png" alt="Hair Room девушка")
                    p.title__description.title__description--right Hair Room kaliningrad
                ul.socials__list
                    li: a(href="instagram.com") instagram
                    li: a(href="facebook.com") facebook
                    li: a(href="vk.com") vkontakte

            nav.scroll-spy
                ul.scroll-spy__list
                    li: a(href="#" id="#-link") Салон
                    li: a(href="#services" id="services-link") Услуги
                    li: a(href="#price" id="price-link") Прайс
                    li: a(href="#gallery" id="gallery-link") Галлерея
                    li: a(href="#contacts" id="contacts-link") Контакты
        
        section.about#about
            .about__img: img(src="./img/about_img-lg.jpg" alt="HairRoom изображение")
            .about__background
                .about__board
                    header.about__header
                        sup.title__sup О салоне
                        h4.about__title HAIR ROOM - салон<br> с&nbsp;вашим характером

                    .about__content
                        .tabs
                            ul.tabs__list(id="tabs" role="tablist")
                                li.tabs__item.tabs__current(data-tab="tab-1" id="tab"): a.tabs__link Миссия
                                li.tabs__item(data-tab="tab-2"): a.tabs__link Подход
                                li.tabs__item(data-tab="tab-3"): a.tabs__link Мастера

                            .tabs__content.tabs__current(id="tab-1")
                                p.about__copy Наш салон предлагает уникальные услуги европейского уровня качества, поэтому мы всегда гарантируем отменное качество вашего неповторимого образа. Уникальное оборудование и профессиональные мастера - это залог упеха студии HAIR ROOM
                                p.about__copy.about__copy--mrtop Позвольте себе удовольствие наслаждаться своей красотой и дарить ее любимым.

                            
                            .tabs__content(id="tab-2")
                                p.about__copy Подход

                            .tabs__content(id="tab-3")
                                p.about__copy Мастера

                    .logo.logo--about
                        .logo__outline
                            img(src="./img/hr_logo_black.svg" alt="logo white")
                    .button__wrapper.button__wrapper--inline
                        a.button.button--pink(href="#") online Запись
                        a.button.button--ghost(href="#price") прайс-лист


        section.services#services
            header.services__header
                p.title__sup.title__sup--mrtop Мы предлагаем
                p.title__section Услуги
            
            .services__cards.owl-carousel.owl-theme

                article.services__card
                    header.services__card-title Наращивание<br>волос
                    .services__wrapper
                        .services__card-img.services__card-img--bg4
                        .services__card-content
                            p.title__description.title__description--left Hair Room Услуги
                            p.services__card-description бесцветный розовый с нейтрализацией желтизны
                            .button__wrapper.button__wrapper--centerX
                                a.button.button--pink.button--card(href="#") Записаться
                                a.button.button--ghost.button--card(href="#") Прайс-лист
                article.services__card
                    header.services__card-title Маникюрные<br> услуги
                    .services__wrapper
                        .services__card-img.services__card-img--bg2
                        .services__card-content
                            p.title__description.title__description--left Hair Room Услуги
                            p.services__card-description бесцветный розовый с нейтрализацией желтизны
                            .button__wrapper.button__wrapper--centerX
                                a.button.button--pink.button--card(href="#") Записаться
                                a.button.button--ghost.button--card(href="#") Прайс-лист
                article.services__card
                    header.services__card-title Уход<br>за волосами
                    .services__wrapper
                        .services__card-img.services__card-img--bg3
                        .services__card-content
                            p.title__description.title__description--left Hair Room Услуги
                            p.services__card-description бесцветный розовый с нейтрализацией желтизны
                            .button__wrapper.button__wrapper--centerX
                                a.button.button--pink.button--card(href="#") Записаться
                                a.button.button--ghost.button--card(href="#") Прайс-лист
                article.services__card
                    header.services__card-title Дополнительные услуги
                    .services__wrapper
                        .services__card-img.services__card-img--bg4
                        .services__card-content
                            p.title__description.title__description--left Hair Room Услуги
                            p.services__card-description бесцветный розовый с нейтрализацией желтизны
                            .button__wrapper.button__wrapper--centerX
                                a.button.button--pink.button--card(href="#") Записаться
                                a.button.button--ghost.button--card(href="#") Прайс-лист
                
                article.services__card
                    header.services__card-title Наращивание ресниц
                    .services__wrapper
                        .services__card-img.services__card-img--bg5
                        .services__card-content
                            p.title__description.title__description--left Hair Room Услуги
                            p.services__card-description бесцветный розовый с нейтрализацией желтизны
                            .button__wrapper.button__wrapper--centerX
                                a.button.button--pink.button--card(href="#") Записаться
                                a.button.button--ghost.button--card(href="#") Прайс-лист

                //- article.services__card
                //-     header.services__card-title Наращивание ресниц
                //-     .services__wrapper
                //-         .services__card-img.services__card-img--bg5
                //-         .services__card-content
                //-             p.title__description.title__description--left Hair Room Услуги
                //-             p.services__card-description бесцветный розовый с нейтрализацией желтизны
                //-             .button__wrapper.button__wrapper--centerX
                //-                 a.button.button--pink.button--card(href="#") Записаться
                //-                 a.button.button--ghost.button--card(href="#") Прайс-лист
            
        section.price#price
            .price__board
                header.price__header
                    p.title__sup.title__sup--white Цены на услуги
                    p.title__section.title__section--white Прайс-лист

                .price__content
                    .price__group.price__group--big
                        h3.price__group-title Уход<br>за волосами
                        .price__conteiner
                            .price-inner__column
                                table.price__table
                                    caption.price__caption кератиновое выпрямление<br>/ восстановление
                                    caption.price__column-description Система богата белками и аминокислотами кератина. Подходит для сильно поврежденных волос и  имеет накопительный эффект.
                                    tr
                                        td короткие
                                        td <b>2000 - 2500</b> <span>руб.</span>
                                    tr
                                        td до плеч
                                        td <b>2500 - 3000</b> <span>руб.</span>
                                    tr
                                        td до лопаток
                                        td <b>3000 - 3500</b> <span>руб.</span>
                                    tr
                                        td середина спины
                                        td <b>4000 - 4500</b> <span>руб.</span>
                            .price-inner__column.price-inner__column--pd
                                table.price__table
                                    caption.price__caption Тонировка с уходом
                                    caption.price__column-description Большой выбор красок европейских производителей, профессиональные мастера.
                                    tr
                                        td короткие
                                        td <b>1500</b> <span>руб.</span>
                                    tr
                                        td Средние
                                        td <b>2000</b> <span>руб.</span>
                                    tr
                                        td Длинные
                                        td <b>3000</b> <span>руб.</span>
                            .price-inner__column
                                table.price__table
                                    caption.price__caption Укладка
                                    caption.price__column-description Учитываем все ваши пожелания.
                                    tr
                                        td Любой длины
                                        td <b>800 - 2000</b> <span>руб.</span>
                            
                    //-         .price-inner__column.price-inner__column--pd
                    //-             table.price__table
                    //-                 caption.price__caption Ботокс<br>/ Биксипластия
                    //-                 caption.price__column-description Предназначен для сухих, поврежденных волос! Глубоко воздействует на структуру волос, восстанавливает поврежденные участки на клеточном уровне!    
                    //-                 tr
                    //-                     td Короткие
                    //-                     td <b>2000</b> <span>руб.</span>
                    //-                 tr
                    //-                     td До плеч
                    //-                     td <b>2500 - 3000</b> <span>руб.</span>
                    //-                 tr
                    //-                     td До лопаток
                    //-                     td <b>3000 - 3500</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Середина спины
                    //-                     td <b>4000 - 4500</b> <span>руб.</span>

                    //-         .price-inner__column
                    //-             table.price__table
                    //-                 caption.price__caption Экспресс Уход
                    //-                 caption.price__column-description Держится на волосах около 2 недель. Не разглаживает! Без утюжка! Питает волосы, придает блеск, убирает пушистость! Гладкие и послушные волосы обеспечены!
                    //-                 tr
                    //-                     td Короткие
                    //-                     td <b>2000</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Средние
                    //-                     td <b>2000</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Длинные
                    //-                     td <b>3000</b> <span>руб.</span>

                    //- .price__group
                    //-     h3.price__group-title наращивание волос
                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption наращивание волос
                    //-             caption.price__column-description В стоимость работы входит: мытье головы + экспресс уход, наращивание(микро+стандарт), Стрижка, укладка. В стоимость не входят волосы!
                    //-             tr
                    //-                 td до 150 капсул
                    //-                 td <b>4000</b> <span>руб.</span>
                    //-             tr
                    //-                 td до 200 капсул
                    //-                 td <b>4500</b> <span>руб.</span>
                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Коррекция
                    //-             caption.price__column-description В данную услугу входит: снятие + перекапсулирование волос, мытье головы, наращивание, стрижка, укладка.
                    //-             tr
                    //-                 td до 150 капсул
                    //-                 td <b>4000 - 5000</b> <span>руб.</span>
                    //-             tr
                    //-                 td до 200 капсул
                    //-                 td <b>5000 - 5500</b> <span>руб.</span>
                        
                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Снятие волос
                    //-             caption.price__column-description В данную услугу входит: Снятие, мытье головы, стрижка, укладка.
                    //-             tr
                    //-                 td до 150 капсул
                    //-                 td <b>2000 - 3000</b> <span>руб.</span>
                    //-             tr
                    //-                 td до 200 капсул
                    //-                 td <b>3000</b> <span>руб.</span>

                    //- .price__group.price__group--big
                    //-     h3.price__group-title Услуги маникюра
                    //-     .price__conteiner
                    //-         .price-inner__column
                    //-             table.price__table
                    //-                 caption.price__caption Маникюр<br>коминированный
                    //-                 tr
                    //-                     td Без последующего покрытия
                    //-                     td <b>400</b>&nbsp;<span>руб.</span>

                    //-         .price-inner__column.price-inner__column--pd
                    //-             table.price__table
                    //-                 caption.price__caption Покрытие гель-лаком<br> + коминированный<br>маникюр
                    //-                 tr
                    //-                     td Однотонное покрытие
                    //-                     td <b>1000</b> <span>руб.</span>

                    //-         .price-inner__column
                    //-             table.price__table
                    //-                 caption.price__caption Экспресс маникюр + покрытие
                    //-                 caption.price__column-description Экспресс маникюр + покрытие за 1 час без выравнивания ногтевой пластины гелем + маникюр
                    //-                 tr
                    //-                     td Однотонное покрытие
                    //-                     td <b>800</b> <span>руб.</span>

                    //-         .price-inner__column.price-inner__column--pd
                    //-             table.price__table
                    //-                 caption.price__caption Дизайн ногтей
                    //-                 caption.price__column-description Лунный маникюр + 50р (ноготь), + 300р(все ногти); Френч + 300р (все руки); градиент + 100р (ноготь), + 1000 (все руки); слайдер + 50р (ноготь); стразы; дизайн от руки от 100р
                    //-                 tr
                    //-                     td Cтоимость работ
                    //-                     td <b>50 - 1000</b> <span>руб.</span>

                    //-         .price-inner__column.price-inner__column--right
                    //-             table.price__table
                    //-                 caption.price__caption Дополнительные услуги
                    //-                 tr
                    //-                     td Снятие покрытия
                    //-                     td <b>100</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Ремонт ногтя
                    //-                     td <b>100</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Укрепление акрилом
                    //-                     td <b>100</b> <span>руб.</span>

                    //- .price__group.price__group--big
                    //-     h3.price__group-title наращивание ресниц
                    //-     .price__conteiner
                    //-         .price-inner__column
                    //-             table.price__table
                    //-                 caption.price__caption наращивание ресниц
                    //-                 tr
                    //-                     td Неполные обьем
                    //-                     td <b>1000</b> <span>руб.</span>

                    //-                 tr
                    //-                     td Классический обьем
                    //-                     td <b>1200</b> <span>руб.</span>
                    //-                 tr
                    //-                     td Полуторный обьем
                    //-                     td <b>1400</b> <span>руб.</span>

                    //-         .price-inner__column
                    //-             table.price__table
                    //-                 caption.price__caption 2D - 3D обьем
                    //-                 tr
                    //-                     td 2D обьем
                    //-                     td <b>1000</b> <span>руб.</span>
                    //-                 tr
                    //-                     td 3D обьем
                    //-                     td <b>1500</b> <span>руб.</span>
                    //-                 tr
                    //-                     td 5D обьем
                    //-                     td <b>1800</b> <span>руб.</span>
                    //- .price__group
                    //-     h3.price__group-title Дополнительные услуги
                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Окрашивание<br>+ коррекция бровей
                    //-             tr
                    //-                 td Обычное
                    //-                 td <b>500</b> <span>руб.</span>

                    //-             tr
                    //-                 td Хной
                    //-                 td <b>700</b> <span>руб.</span>

                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Makeup
                    //-             tr
                    //-                 td Дневной
                    //-                 td <b>800 - 1000 </b> <span>руб.</span>

                    //-             tr
                    //-                 td Вечерний
                    //-                 td <b>1500 - 2000</b> <span>руб.</span>

                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Стрижка
                    //-             tr
                    //-                 td Женская
                    //-                 td <b>300 - 1200</b> <span>руб.</span>


                    //-     .price-inner__column.price-inner__column--right
                    //-         table.price__table
                    //-             caption.price__caption Удаление волос воском
                    //-             caption.price__column-description Любая из перечисленных зон: верхняя губа, бакенбарды
                    //-             tr
                    //-                 td Одна зона
                    //-                 td <b>150 - 200</b> <span>руб.</span>

        section.shares
            .shares__content
                article.shares__card.shares__card--offers
                    header.shares__header
                        p.shares__offers Акции
                        p.shares__text Новинки в разделе ухода за волосами
                        a.button.button--card.button--offers(href="#") Дальше
                article.shares__card.shares__card--loyality
                    header.shares__header
                        p.shares__offers.shares__offers--white Акции
                        p.shares__text.shares__text--white Скидки дляучастников программы лояльности
                        a.button.button--card.button--offers Дальше
        
        section.gallery#gallery
            header.gallery__header
                h3.title__sup Социальные сети
                h4.gallery__title Следите за HAIR ROOM<br>в социальных сетях
            .gallery__subscribe
                h5.gallery__slogan Давайте дружить
                .gallery__content
                    .gallery__logo: ig(src="./img/insta_logo.png" alt="instagram logo")
                    p.gallery__text Для подписчиков нашей группы в Instagramv мы проводим регулярные розыгрыши призов и сертификатов на улуги нашего салона.
                    a.button.button--subscribe Подписаться

            .gallery__gallery
                .gallery__img
                    img(src="./img/card1-sm.jpg" alt="HairRoom студия красоты")
                .gallery__img.gallery__img--subscribe
                    img(src="./img/card__subscribe.jpg" alt="подписаться")
                .gallery__img
                    img(src="./img/card2-sm.jpg" alt="HairRoom декорации")
                .gallery__img
                    img(src="./img/card3-sm.jpg" alt="HairRoom наращивание ресниц")
                .gallery__img
                    img(src="./img/card4-sm.jpg" alt="HairRoom окрас волос")
                .gallery__img
                    img(src="./img/card5-sm.jpg" alt="HairRoom")
                .gallery__img
                    img(src="./img/card6-sm.jpg" alt="HairRoom увеличение губ")
                .gallery__img
                    img(src="./img/card7-sm.jpg" alt="HairRoom миллирование")
                .gallery__img
                    img(src="./img/card8-sm.jpg" alt="HairRoom педикюр")


        section.location#contacts
            .map-label
              .map-label__content
                p.title__description.title__description--right Hairroom Kaliningrad
                p.map-label__info-title E-mail
                p.map-label__info-text hairroom@gmail.com

                p.map-label__info-title Телефон
                p.map-label__info-text +7 4012 52-37-76

                p.map-label__info-title Адрес
                p.map-label__info-text г. Калининград,<br> ул. Иванникова, д.12<br><sub>(ориентир напротив гостиницы Radisson)</sub>
                
            #map.location__map

        footer.site-footer
            .site-footer__container
                header.site-footer__header
                    .site-footer__logo: img(src="./img/hr_logo_hor_black.svg" alt="Hair Room логотип")
                    p.site-footer__title-location HAIR ROOM. Калининград
                    p.site-footer__description Ваш идеальный салон красоты. Ждем вас в гости к нам для создания вашего неповторимого образа

                .site-footer__content
                    p.site-footer__contacts-title Контакты

                    p.site-footer__info-title Адрес:
                    p.site-footer__info-text г. Калининград<br>ул. Иванникова, д. 12

                    p.site-footer__info-title Телефон:
                    a.site-footer__info-text(href="tel: 523776") + 7 4012 52 37 76

                    p.site-footer__info-title E-mail:
                    a.site-footer__info-text(href="mailto: hairroom@gmail.com") hairroom@gmail.com

                .site-footer__time
                    p.site-footer__contacts-title Время работы

                    p.site-footer__info-title Ежедневно:
                    p.site-footer__info-text С 10 <sup>00</sup> до 20<sup>00</sup>
                    
                    p.site-footer__info-title Воскресенье:
                    p.site-footer__info-text.site-footer__info-text--bold - выходной
                    
                p.site-footer__copyright copyright &copy; 2018<br><b>hairroom</b>
                
        script(src="map.js")
        script(src="scripts.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXqiEFxIOCZHT3sEJWMMLc6HywtBL4-0&callback=initMap")