<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
        title HairRoom
    body
        header.site-header
            nav.main-nav
                .logo
                    .logo__img: img(src="./img/logo.png" alt="HairRoom Logo")
                ul.info__list
                    li: p Калининград<br>Иванникова, 12
                    li: a(href="tel: 523766") 52<span>.</span>37<span>.</span>66
                
                .menu-icon: .menu-icon__middle

                nav.main-menu
                    ul.main-menu__list
                        li: a(href="#Салон") Салон
                        li: a(href="#Услуги") Услуги
                        li: a(href="#Прайс") Прайс
                        li: a(href="#Галлерея") Галлерея
                        li: a(href="#Контакты") Контакты

            section.hero
                header.hero__header
                    h1.hero__title Ваш идеальный салон красоты

                .hero__content
                    p.hero__copy Быть свободной значит быть разной, меняте свой стиль под любое настроение. Не важно, что вас ждет сегодня: серьезное событие или романтический вечер - будьте неотразимы!
                    a.button.button--online-record(href="#") online&nbsp;запись
                    .hero__img: img(src="./img/women.png" alt="Hair Room девушка")
                    p.title__description Hair Room kaliningrad
                    ul.socials__list
                        li: a(href="instagram.com") instagram
                        li: a(href="facebook.com") facebook
                        li: a(href="vk.com") vkontakte
            nav.scroll-spy
                ul.scroll-spy__list
                    li: a(href="#" id="#-link") Салон
                    li: a(href="#services" id="services-link") Услуги
                    li: a(href="#price" id="price-link") Прайс
                    li: a(href="#gallery" id="gallery-link") Галлерея
                    li: a(href="#contacts" id="contacts-link") Контакты
        
        section.about
            .about__img
            .about__board
                header.about__header
                    sup.title__sup О салоне
                    h4.about__title HAIR ROOM - салон с&nbsp;вашим характером

                .about__content
                    .tabs
                        ul.tabs__list(id="tabs" role="tablist")
                            li.tabs__item.tabs__current(data-tab="tab-1"): a.tabs__link Миссия
                            li.tabs__item(data-tab="tab-2"): a.tabs__link Подход
                            li.tabs__item(data-tab="tab-3"): a.tabs__link Мастера

                        .tabs__content.tabs__current(id="tab-1")
                            p.about__copy Наш салон предлагает уникальные услуги европейского уровня качества, поэтому мы всегда гарантируем отменное качество вашего неповторимого образа. Уникальное оборудование и профессиональные мастера - это залог упеха студии HAIR ROOM
                            p.about__copy.about__copy--mrtop Позвольте себе удовольствие наслаждаться своей красотой и дарить ее любимым.

                .logo.logo--about
                    .logo__outline
                        img(src="./img/logo-white.png" alt="logo white")
                .button__wrapper
                    a.button.button--pink(href="#") online Запись
                    a.button.button--ghost(href="#price") прайс-лист


        section.services
            header.services__header
                p.title__sup.title__sup--mrtop Мы предлагаем
                p.title__section Услуги

            article.services__card
                header.services__card-title Маникюр
                .services__card-img
                    .services__card-content
                        p.title__description.title__description--left Hair Room Услуги
                        p.services__card-description бесцветный розовый с нейтрализацией желтизны
                        .button__wrapper.button__wrapper--centerX
                            a.button.button--pink.button--card(href="#") Записаться
                            a.button.button--ghost.button--card(href="#") Прайс-лист

        section.price
            header.price__header
                p.title__sup.title__sup--white Цены на услуги
                p.title__section.title__section--white Прайс-лист

            .price__content
                .price__group
                    h3.price__group-title Уход<br>за волосами
                    .price-inner__column
                        table.price__table
                            caption.price__caption кератиновое выпрямление<br>/ восстановление
                            caption.price__column-description Система богата белками и аминокислотами кератина. Подходит для сильно поврежденных волос и  имеет накопительный эффект.
                            tr
                                td короткие
                                td <b>2000 - 2500</b> <span>руб.</span>
                            tr
                                td до плеч
                                td <b>2500 - 3000</b> <span>руб.</span>
                            tr
                                td до лопаток
                                td <b>3000 - 3500</b> <span>руб.</span>
                            tr
                                td середина спины
                                td <b>4000 - 4500</b> <span>руб.</span>
                    .price-inner__column
                        table.price__table
                            caption.price__caption Тонировка с уходом
                            caption.price__column-description Большой выбор красок европейских производителей, профессиональные мастера.
                            tr
                                td короткие
                                td <b>1500</b> <span>руб.</span>
                            tr
                                td Средние
                                td <b>2000</b> <span>руб.</span>
                            tr
                                td Длинные
                                td <b>3000</b> <span>руб.</span>
                    .price-inner__column
                        table.price__table
                            caption.price__caption Укладка
                            caption.price__column-description Учитываем все ваши пожелания.
                            tr
                                td Любой длины
                                td <b>800 - 2000</b> <span>руб.</span>


        section.shares
            .shares__content
                article.shares__card.shares__card--offers
                    header.shares__header
                        p.shares__offers Акции
                        p.shares__text Новинки в разделе ухода за волосами
                        a.button.button--card.button--offers(href="#") Дальше
                article.shares__card.shares__card--loyality
                    header.shares__header
                        p.shares__offers.shares__offers--white Акции
                        p.shares__text.shares__text--white Новинки в разделе ухода за волосами
                        a.button.button--card.button--offers Дальше
        
        section.gallery
            header.gallery__header
                h3.title__sup Социальные сети
                h4.gallery__title Следите за HAIR ROOM в социальных сетях

            .gallery__subscribe
                h5.gallery__slogan Давайте дружить
                .gallery__content
                    .gallery__logo: img(src="./img/insta_logo.png" alt="instagram logo")
                    p.gallery__text Для подписчиков нашей группы в Instagramv мы проводим регулярные розыгрыши призов и сертификатов на улуги нашего салона.
                    a.button.button--subscribe Подписаться
            .gallery__gallery
                .gallery__img
                    img(src="./img/hr_card1.png" alt="HairRoom студия красоты")
                .gallery__img
                    img(src="./img/hr_card2.png" alt="HairRoom декорации")
                .gallery__img
                    img(src="./img/hr_card3.png" alt="HairRoom наращивание ресниц")
                .gallery__img
                    img(src="./img/hr_card4.png" alt="HairRoom окрас волос")
                .gallery__img
                    img(src="./img/hr_card5.png" alt="HairRoom")
                .gallery__img
                    img(src="./img/hr_card6.png" alt="HairRoom увеличение губ")
                .gallery__img
                    img(src="./img/hr_card7.png" alt="HairRoom миллирование")
                .gallery__img
                    img(src="./img/hr_card8.png" alt="HairRoom педикюр")


        section.location
            .map-label
              .map-label__content
                p.title__description.title__description--right Hairroom Kaliningrad
                p.map-label__info-title E-mail
                p.map-label__info-text hairroom@gmail.com

                p.map-label__info-title Телефон
                p.map-label__info-text +7 4012 52-37-76

                p.map-label__info-title Адрес
                p.map-label__info-text г. Калининград,<br> ул. Иванникова, д.12<br><sub>(ориентир напротив гостиницы Radisson)</sub>
                
            #map.location__map

        footer.site-footer
            header.site-footer__header
                .site-footer__logo: img(src="./img/hair_room_logo_footer.png" alt="Hair Room логотип")
                p.site-footer__title-location HAIR ROOM. Калининград
                p.site-footer__description Ваш идеальный салон красоты. Ждем вас в гости к нам для создания вашего неповторимого образа

            .site-footer__content
                p.site-footer__contacts-title Контакты

                p.site-footer__info-title Адрес:
                p.site-footer__info-text г. Калининград, ул. Иванникова, д. 12

                p.site-footer__info-title Телефон:
                p.site-footer__info-text + 7 4012 52 37 76

                p.site-footer__info-title E-mail:
                p.site-footer__info-text hairroom@gmail.com
                
                p.site-footer__contacts-title Время работы

                p.site-footer__info-title Ежедневно:
                p.site-footer__info-text С 10 <sup>00</sup> до 20<sup>00</sup>
                
                p.site-footer__info-title Воскресенье:
                p.site-footer__info-text.site-footer__info-text--bold - выходной
                
            p.site-footer__copyright copyright &copy; 2018<br><b>katz cant read</b>
                
                
        script(src="map.js")
        script(src="scripts.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXqiEFxIOCZHT3sEJWMMLc6HywtBL4-0&callback=initMap")