<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
        title HairRoom
    body
        .site-header
            nav.main-nav: .wrapper
                .main-nav__wrapper
                    .logo.logo--header: img(src="./img/logo.png" alt="main logo")
                    .info
                        ul.info__list
                            li.info__item: p.info__address Калининград<br>Иванникова, 12
                            li.info__item: a.info__phone(href="tel: 523766") 52<span>.</span>37<span>.</span>66
                    
                    .menu-icon: .menu-icon__middle

                .main-menu
                    ul.main-menu__list
                    - let menuItems = ["Салон", "Услуги", "Прайс", "Галлерея", "Контакты"]
                    - let menuLinks = ["#", "services", "price", "gallery", "contacts"]
                    - for(var i = 0; i < 5; i++) 
                            - let link = "#" + menuLinks[i];
                            li.main-menu__item: a.main-menu__link(href=link)= menuItems[i]
                .franchise
                    a.button__franchise(href="franchise.html") Франшиза

            section.hero
                .hero__wrapper
                    h1.hero__title Ваш идеальный салон красоты
                    p.hero__copy Быть свободной значит быть разной, меняте свой стиль под любое настроение. Не важно, что вас ждет сегодня: серьезное событие или романтический вечер - будьте неотразимы!
                    a.button.button--online-record(href="#") online&nbsp;запись
                    .hero__img: img(src="./img/women.png" alt="women")
                    p.title__description Hair Room kaliningrad
                    .socials
                        ul.socials__list
                            - let socialItems = ["instagram", "facebook", "vkontakte"]
                            - let socialLinks = ["instagram.com", "facebook.com", "vk.com"]
                            - for(let i = 0; i < 3; i++)
                                li.socials__item: a.socials__link(href= socialLinks[i])= socialItems[i]
            nav.scroll-spy
                ul.scroll-spy__list
                    - let scrollItems = ["Салон", "Услуги", "Прайс", "Галлерея", "Контакты"]
                    - let scrollLinks = ["#", "services", "price", "gallery", "contacts"]
                    - for(let i =0; i < 5; i++)
                        - let link = "#" + scrollLinks[i]
                        li.scroll__spy-item: a.scroll__spy-link(href=link data-label!= scrollItems[i] id= (scrollLinks[i] + "-link"))= scrollItems[i]
        
        section.about: .wrapper
            .about__img
            .about__wrapper
                .about__card
                    sup.title__sup О салоне
                    h4.about__title HAIR ROOM - салон с&nbsp;вашим характером
                    .tabs
                        ul.tabs__list(id="tabs" role="tablist")
                            li.tabs__item.tabs__current(data-tab="tab-1"): a.tabs__link Миссия
                            li.tabs__item(data-tab="tab-2"): a.tabs__link Подход
                            li.tabs__item(data-tab="tab-3"): a.tabs__link Мастера

                        .tabs__content.tabs__current(id="tab-1")
                            p.about__copy Наш салон предлагает уникальные услуги европейского уровня качества, поэтому мы всегда гарантируем отменное качество вашего неповторимого образа. Уникальное оборудование и профессиональные мастера - это залог упеха студии HAIR ROOM
                            p.about__copy.about__copy--mrtop Позвольте себе удовольствие наслаждаться своей красотой и дарить ее любимым.

                        //- .tabs__content
                        //-     p.about__copy Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quam eius ducimus tenetur nam! Eaque, alias tempore similique numquam, nostrum dignissimos quasi, voluptatum quidem fugiat delectus accusamus minima harum nisi vero? Recusandae natus repellendus et eaque deleniti mollitia voluptatibus vero non fugiat doloribus, veritatis, modi incidunt voluptate error minima ab.

                        //- .tabs__content
                        //-     p.about__copy Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea rem omnis inventore, odit cupiditate, nam magni possimus quas deserunt est repudiandae animi quidem eligendi voluptatem exercitationem qui enim quibusdam, facilis aperiam eveniet ut ab odio dolorem. Quisquam eligendi, dolorum cupiditate, voluptatibus sequi nemo corrupti facilis veritatis, exercitationem dolor optio delectus.
                    .logo.logo--about
                        .logo__outline
                            img(src="./img/logo-white.png" alt="logo white")
            .button__wrapper
                a.button.button--pink(href="#") online Запись
                a.button.button--ghost(href="#price") прайс-лист


        section.services: .wrapper
            header.services__header
                h4.title__sup.title__sup--mrtop Мы предлагаем
                h3.title__section Услуги

            //- article.services__card
            //-     h5.servces__card-title Наращивание волос
            //-     .services__card-content
            //-     .services__card-img: img(src="./img/card1.png" alt="card img 1")

            article.services__card
                h5.services__card-title Маникюр
                .services__card-img
                    .services__card-content
                        p.title__description.title__description--left Hair Room Услуги
                        p.services__card-description бесцветный розовый с нейтрализацией желтизны
                        .button__wrapper.button__wrapper--centerX
                            a.button.button--pink.button--card(href="#") Записаться
                            a.button.button--ghost.button--card(href="#") Прайс-лист
                    
            //- article.services__card
            //-     h5.servces__card-title Дополнительные услуги
            //-     .services__card-content
            //-     .services__card-img: img(src="./img/card3.png" alt="card img 3")

            //- article.services__card
            //-     h5.servces__card-title Наращивание ресниц
            //-     .services__card-content
            //-     .services__card-img: img(src="./img/card4.png" alt="card img 4")

        section.price: .wrapper
            header.price__header
                h4.title__sup.title__sup--white Цены на услуги
                h3.title__section.title__section--white Прайс-лист

            .price__wrapper
                .price__group
                    h3.price__group-title Уход<br>за волосами
                    .price-inner__column
                        table.price__table
                            caption.price__caption кератиновое выпрямление / восстановление
                            caption.price__column-description Система богата белками и аминокислотами кератина. Подходит для сильно поврежденных волос и  имеет накопительный эффект.
                            tr
                                td короткие
                                td <b>2000 - 2500</b> <span>руб.</span>
                            tr
                                td до плеч
                                td <b>2500 - 3000</b> <span>руб.</span>
                            tr
                                td до лопаток
                                td <b>3000 - 3500</b> <span>руб.</span>
                            tr
                                td середина спины
                                td <b>4000 - 4500</b> <span>руб.</span>
                    .price-inner__column
                        table.price__table
                            caption.price__caption Тонировка с уходом
                            caption.price__column-description Большой выбор красок европейских производителей, профессиональные мастера.
                            tr
                                td короткие
                                td <b>1500</b> <span>руб.</span>
                            tr
                                td Средние
                                td <b>2000</b> <span>руб.</span>
                            tr
                                td Длинные
                                td <b>3000</b> <span>руб.</span>
                    .price-inner__column
                        table.price__table
                            caption.price__caption Укладка
                            caption.price__column-description Учитываем все ваши пожелания.
                            tr
                                td Любой длины
                                td <b>800 - 2000<b> <span>руб.</span>


        section.shares
            .shares__content
                article.shares__card.shares__card--offers
                    header.shares__header
                        p.shares__offers Акции
                        p.shares__text Новинки в разделе ухода за волосами
                        a.button.button--card.button--offers(href="#") Дальше
                article.shares__card.shares__card--loyality
                    header.shares__header
                        p.shares__offers.shares__offers--white Акции
                        p.shares__text.shares__text--white Новинки в разделе ухода за волосами
                        a.button.button--card.button--offers Дальше
        
        section.gallery
            header.gallery__header
                h3.title__sup Социальные сети
                h4.gallery__title Следите за HAIR ROOM в социальных сетях

            .gallery__subscribe
                h5.gallery__motto Давайте дружить
                .gallery__logo: img(src="./img/insta_logo.png" alt="insta logo")
                p.gallery__text Для подписчиков нашей группы в Instagramv мы проводим регулярные розыгрыши призов и сертификатов на улуги нашего салона.
                a.button.button--subscribe Подписаться
            .gallery__gallery
                img(src="./img/hr_card1.png" alt="card")
                img(src="./img/hr_card2.png" alt="card")
                img(src="./img/hr_card3.png" alt="card")
                img(src="./img/hr_card4.png" alt="card")
                img(src="./img/hr_card5.png" alt="card")
                img(src="./img/hr_card6.png" alt="card")
                img(src="./img/hr_card7.png" alt="card")
                img(src="./img/hr_card8.png" alt="card")

        section.map#map
        .map__board
            p.title__description.title__description--right Hair Room Kaliningrad
            .map__info-block
                span.map__info E-mail
                p.map__contact hairroom@gmail.com

            .map__info-block
                span.map__info Телефон
                p.map__contact +7 4012 52-37-76
                
            .map__info-block
                span.map__info Адрес
                p.map__contact г. Калининград<br> ул. Иванникова, д.12
        
        footer.site-footer
            .site-footer__content
                h3.site-footer__title Hair Room
                h4.site-foooter__description-title HAIR ROOM. Калининград
                p.site-footer__description Ваш идеальный салон красоты. Ждем вас в гости к нам для создания вашего неповторимого образа

                h4.site-footer__description-title Контакты
                    h5.site-footer__info-title Адрес
                    p.site-footer__info г. Калининград, ул. Иванникова, д.12
                    h5.site-footer__info-title Тел.
                    p.site-footer__info +7 4012 52-37-76
                    h5.site-footer__info-title e-mail
                    p.site-footer__info hairroom@gmail.com

                h4.site-footer__description-title Время работы
                    h5.site-footer__info-title Ежедневно
                    p.site-footer__info с 10<sup>00</sup> до 20<sup>00</sup>

                    h5.site-footer__info-title Воскресенье
                    p.site-footer__info - выходной

                
        script(src="map.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXqiEFxIOCZHT3sEJWMMLc6HywtBL4-0&callback=initMap")