// Base
@import "base/_vars";
@import "base/_globals";
@import "base/_mixins";

// modules
@import "modules/_wrapper";
@import "modules/_site-header";
@import "modules/_main-nav";
@import "modules/_hero";
@import "modules/_info";
@import "modules/_logo";
@import "modules/_menu-icon";
@import "modules/_main-menu";
@import "modules/_about";
@import "modules/_price";
@import "modules/_shares";
@import "modules/_franchise";
@import "modules/_scroll-spy";
@import "modules/_title";
@import "modules/_socials";
@import "modules/_button";
@import "modules/_tabs";
@import "modules/_services";
@import "modules/_gallery";
@import "modules/_map";
@import "modules/_location";
@import "modules/_map-label";
@import "modules/_site-footer";
@import "modules/_background";